.header{
    background: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.header-links{
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}
.logo{
    font-size: 36px;
    color: f9faf8;
}
.logo-image{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border-radius: 15px;
}
.info-header{
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}
.footer{
    background: #1f2937;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright{
    font-size: 18px;
    color: white;
    text-align: center;
}
.info-image-caption{
    width: 200px;
    text-align: center;
    color: #1f2937;
    font-size: 18px;
}
.quote-container{
    height: 300px;
    width: 100%;
    background: #e5e7eb;
    align-items: center;
}
.quote-textview{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quote-main-txt{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}
.info-image-details{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.info-image{
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
.logo-container{
    display: flex;
    gap: 16px;
}
.hero{
    background: #1f2937;
    height: 300px;
    width: 100%;
    display: flex;
    padding: 8px;
}
.hero-button{
    width: 100px;
    border: none;
    border-radius: 8px;
    color: white;
    text-align: center;
    background: #3882f6;
    height: 30px;
    margin-top: 50px;
}
.hero-image{
    width: 280px;
    height: 280px;
    border-radius: 30px;
}
.hero-header-main-text{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.hero-header-sec-text{
    font-size: 18px;
    color: #e5e7eb;
}
.hero-right{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.hero-sec-container{
    display: flex;
}