.header{
    background: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.header-links{
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}
.logo{
    font-size: 36px;
    color: f9faf8;
}